{% extends 'base.html' %}

{% load static%}

{% block content %}


            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Enseignants</h3>
                    <ul>
                        <li>
                            <a href="index.html">Admission</a>
                        </li>
                        <li>Ajouter un enseignant</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Add New Teacher Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Ajout d'un enseignant</h3>
                            </div>
                           <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" 
                                data-toggle="dropdown" aria-expanded="false">...</a>
        
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>
                        </div>
                        <form class="new-added-form" method="post">
                            {% csrf_token %}
                            <!-- {{ form.as_p }} -->
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Nom</label>
                                    {{ form.nom }}
                                    <!-- <input type="text" placeholder="" class="form-control"> -->
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Prénom(s)</label>
                                    <!-- <input type="text" placeholder="" class="form-control"> -->
                                    {{ form.prenom }}
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Date de naissance</label>
                                    <!-- <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker">
                                    <i class="far fa-calendar-alt"></i> -->
                                    {{ form.date_de_naissance }}
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Nationalité</label>
                                    <!-- <input type="text" placeholder="" class="form-control"> -->
                                    {{ form.nationalite }}
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Lieu de résidence </label>
                                    <!-- <input type="text" placeholder="" class="form-control"> -->
                                    {{ form.lieu_de_residence }}
                                </div>

                                

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Matricule</label>
                                    <!-- <input type="text" placeholder="" class="form-control"> -->
                                    {{ form.matricule }}
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Spécialité</label>
                                    <!-- <select class="select2">
                                        <option value="">Choisir une matière</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Others</option>
                                    </select> -->
                                    {{ form.specialite }}
                                </div>

                              
                                
                                
                                <!-- <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>E-Mail</label>
                                    <input type="email" placeholder="" class="form-control">
                                </div> -->
                                
                                
                                <div class="col-xl-3 col-lg-6 col-12 form-group">   
                                 <label>Sexe</label>
                                <!-- <input type="text" placeholder="" class="form-control"> -->
                                {{ form.genre }}
                                 </div>

                                 <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Contact</label>
                                    <!-- <input type="text" placeholder="" class="form-control"> -->
                                    {{ form.contact }}
                                </div>

                                <div class="col-xl-3 col-lg-6 col-12 form-group">
                                    <label>Etablissement</label>
                                    {{ form.etablissement }}
                                </div>
                                <div class="col-lg-6 col-12 form-group mg-t-30">
                                    <label class="text-dark-medium"></label>
                                    <!-- <input type="file" class="form-control-file"> -->
                                    
                                </div>                
                                <div class="col-lg-6 col-12 form-group mg-t-30">
                                    <label class="text-dark-medium">Photo de l'Enseignant (150px X 150px)</label>
                                    <!-- <input type="file" class="form-control-file"> -->
                                    {{ form.photo }}
                                </div>


                                <div class="col-12 form-group mg-t-8">
                                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Enregistrer</button>
                                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Réinitialiser</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Add New Teacher Area End Here -->
                <footer class="footer-wrap-layout1">
                    <div class="copyright">© Copyrights <a href="#">akkhor</a> 2019. All rights reserved. Designed by <a href="#">PsdBosS</a></div>
                </footer>
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
   {%endblock%}