{% extends 'prof.html' %}

{% load static %}

{% block content %}
            <!-- Sidebar Area End Here -->
            <div class="dashboard-content-one">
                <!-- Breadcubs Area Start Here -->
                <div class="breadcrumbs-area">
                    <h3>Classes</h3>
                    <ul>
                        <li>
                            <a href="index.html">Classes</a>
                        </li>
                        <li>Mes Classes</li>
                    </ul>
                </div>
                <!-- Breadcubs Area End Here -->
                <!-- Class Table Area Start Here -->
                <div class="card height-auto">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Toutes mes Classe  </h3>
                            </div>
                           <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" 
                                data-toggle="dropdown" aria-expanded="false">...</a>
        
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>
                        </div>
                        <form class="mg-b-20">
                            <div class="row gutters-8">
                                <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by ID ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Name ..." class="form-control">
                                </div>
                                <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                                    <input type="text" placeholder="Search by Class ..." class="form-control">
                                </div>
                                <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                                    <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table display data-table text-nowrap">
                                <thead>
                                    <tr>
                                        <th> 
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input checkAll">
                                                <label class="form-check-label">ID</label>
                                            </div>
                                        </th>
                                        
                                        <th>Nom</th>
                                        <th>Niveau</th>
                                        <th>Prof principal</th>
                                        <th>Année Scolaire</th>
                                        <th>Etablissement</th>
                                        <!-- <th>Time</th>
                                        <th>Phone</th>
                                        <th>E-mail</th> -->
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for classe in classes %}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input">
                                                <label class="form-check-label"> {{ classe.id}} </label>
                                            </div>
                                        </td>
                                        <td><label href="#" class="form-check-label"> {{ classe.Nom}} </label></td>
                                        <td>{{ classe.niveau}}</td>
                                        <td>{{ classe.Professeur_principal}}</td>
                                        <td>{{ classe.Année_Scolaire}}</td>
                                        <td>{{ classe.Etablissement}}</td>
                                    
                                         <td>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" 
                                                data-toggle="dropdown" aria-expanded="false">.....</a>
                        
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="{% url 'liste_classe_eleves' %}"><i class="fas fa-list text-orange-peel"></i>Faire l'appel</a>
                                                    <a class="dropdown-item" href="{% url 'liste_classe_eleves' %}"><i class="fas fa-pen text-dark-pastel-green"></i>Entrer des notes </a>
                                                    <a class="dropdown-item" href="{% url 'liste_classe_eleves' %}"><i class="fas fa-file-pdf text-orange-red"></i>PDF</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Class Table Area End Here -->
                <footer class="footer-wrap-layout1">
                    <div class="copyright">© Copyrights <a href="#">akkhor</a> 2019. All rights reserved. Designed by <a href="#">PsdBosS</a></div>
                </footer>
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
  {%endblock%}